Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1- SQL
2- Python
3- R

Some of the commonly used libraries used by Data Scientists include:
1- Pandas
2- NumPy
3- Scikit-learn

Data Science ToolS
1- Apache Hadoop
2- Tableau
3- TensorFlow

Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
x = 5
y = 10
z = x + y
print(z)

15

In [6]:
(3*4)*5 # This a simple arithmetic expression to mutiply then add integers

60

In [ ]:
200 / 60 # This will convert 200 minutes to hours by diving by 60

Objectives:
- This a simple arithmetic expression to mutiply then add integers
- Below are a few examples of evaluating arithmetic expressions in Python
- Some of the commonly used libraries used by Data Scientists include

Author : Mertcan Alkan